.highlight-container {
  position: relative;
}
.highlight-container:hover .copy-btn,
.highlight-container .copy-btn:focus {
  opacity: 1;
}
.copy-btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.8;
  opacity: 0;
  outline: 0;
  padding: 2px 6px;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--default-text-color);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  right: 2px;
  top: 2px;
}
.highlight-container {
  background: #21252b;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  padding-top: 20px;
  margin-top: 10px;
}
.highlight-container::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  width: 12px;
}
