.category-container .category-name {
  color: var(--second-text-color);
  font-size: 1.6rem;
keep-tablet()
keep-mobile()
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: $component-spacing-value;
  border-bottom: 1px solid var(--border-color);
}
.category-container .category-name i {
  color: var(--second-text-color);
}
